<%- include('../partials/base.ejs') %>

<div id="main-content">
  <div class="content">
    <%- include('../partials/header.ejs') %>

    <main class="page">
        
        <% if(car) { %>
              <li><%= car.name %> - <%= car.imageUrl %> - <%= car.description %></li>
        <% } %>

    </main>
  </div>
  <%- include('../partials/footer.ejs') %>
</div>
</div>